* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    list-style: none;
    text-decoration: none;
}
.body {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.01fr 0.1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header header"
      "navbarweb navbarweb navbarweb"
      "main main main"
      "footer footer footer";
  }
  
  .header { grid-area: header; }
  
  .navbarweb { grid-area: navbarweb; }
  
  .main {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ".";
    grid-area: main;
  }
  
  .footer {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1.5fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "footer__contactos footer__index footer__maps"
      "footer__closer footer__closer footer__closer";
    grid-area: footer;
  }
  
  .footer__contactos { grid-area: footer__contactos; }
  
  .footer__index { grid-area: footer__index; }
  
  .footer__closer { grid-area: footer__closer; }
  
  .footer__maps { grid-area: footer__maps; }
  
header {
    color: rgb(207, 207, 200);
    background-color: black;

}

header img {
    width: 18px;
    margin-bottom: 4px;
}

header h3 {
    font-size: 15px;
    text-decoration: none;
    color: rgb(207, 207, 200);
}

.header {
    color: rgb(207, 207, 200);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 35px;

}

.header img {
    width: 25px;
    padding: 4px;
}

.header h3 {
    font-size: 15px;
    text-align: center;
    margin: 0;
}

.navbarweb {
    display: flex;
    position: sticky;
    top: 0;
    background-color: rgb(96, 103, 103);
    height: 10vh;
    align-items: center;
    justify-content: center;
}

.navbarweb ul li {
    display: inline;
    width: 100%;
    padding: 5px;

}

.navbarweb ul li a {
    color: rgb(230, 116, 90);
    list-style: none;
    text-decoration: none;
    font-size: 25px;

}

.navbarweb ul :hover {
    background-color: black;
    transition: 1s;
    font-size: 22px;

}


.navbar__whatsapp img {
    width: 30px;
    float: right;
    margin-left: 60px;

}

.navbar__whatsapp :hover img {
    width: 40px;
    transition: .5s;
}


.main {
    color: rgb(96, 103, 103);
}

main div>img {
    max-width: 1250px;
    margin: auto;
}




.carousel-caption {
    color: transparent;
    font-size: 20px;
    background: linear-gradient(90deg, rgba(25, 23, 23, 1) 0%, rgba(54, 36, 32, 0.8239670868347339) 7%, rgba(230, 116, 90, 0.7875525210084033) 35%, rgba(207, 207, 200, 0.7287289915966386) 100%);
    background-clip: content-box;
    -webkit-background-clip: content-box;
}

.main__tipoDeSeguros {
    text-align: center;
    margin: 25px;

}

.main__tipoDeSeguros.tarjetas {

    margin: 20px;
    display: flex;

}


.main__tipoDeSeguros_personas img {
    max-width: 60vw;

}

.main__tipoDeSeguros_empresas IMG {
    max-width: 60vw;

}

.main__tipoDeSeguros_agro img {
    max-width: 60vw;

}

/** FOOTER controlar tamaños**/

footer div div h4 {
    font-size: 15px;
}

footer {
    background-color: rgba(207, 207, 200, 0.7287289915966386);
    border-radius: 20px;
}

.footer {
    background-color: rgb(230, 116, 90);
    border-radius: 20px;
}

.footer__barra {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 500px auto auto;

}


.footer__whatsapp {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    max-height: 60px;
    margin-top: 10%;
    border: 8px;
    border-style: inset;
    border-color: rgba(0, 0, 0, 0.685);

}

.footer__whatsapp img {
    width: 30px;
    margin: 20px;
}

.footer__whatsapp:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.footer__whatsapp :hover {
    color: white;
    font-size: 23px;
    transition: 0.5s;
}

.footer__agenda {
    text-align: center;
    margin: 10px;
    padding: 5px;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__agenda img {
    width: 60%;
    height: 60%;
    padding-bottom: 20px;
}

footer div h3 {
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin: 10px;
}

footer div a {
    text-decoration: none;
}



.footer__index {
    text-decoration: none;
    list-style: none;
    font-size: 30px;
    padding: 20px;
    margin: 5px;
    border-left: 5px solid;
    padding-top: 25%;
    padding-left: 15%;
}

.mapa {
    width: 90%;
}

.footer__index ul li a:hover {
    color: white;
    transform: scale(1.5);
    transition: 0.5s;
}

.footer__index ul li:hover {
    transform: scale(1.05);
    transition: 0.5s ease-in-out;

}

.footer__index ul li a {
    color: black;
}

.footer__maps {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 5px solid;
    margin: 5px;
    padding: 15px;

}

.footer__maps img {
    width: 50px;
    padding: 5px;
    margin: 5px;

}

.footer__maps__text {
    display: flex;
    width: 600px;
    align-items: center;


}

.footer__ssn img {
    width: 100%
}

.footer__rights {
    text-align: center;
}

.main__productos {
    padding: 20px;

}

.main__productos h2 {
    text-align: center;
    font-size: 45px;
    padding: 30px;
    color: rgb(207, 207, 200);
}

  

.tarjetagenerica {
    background-color: rgb(230, 116, 90);
    display: flex;
    flex-direction: column;
    max-width: 200px;
    text-align: center;
    padding: 15px;
    justify-content: space-evenly;
    border: 5px solid rgb(96, 103, 103);
    margin: 10px;

}

.tarjeta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: space-evenly;

    padding: 0;

}

.tarjetagenerica a {
    display: flex;
    flex-direction: column;

}

.tarjetagenerica a img {
    margin: 10px;
}


.productores {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
}

.productores__tarjeta {
    border: 5px solid rgb(96, 103, 103);
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
    color: rgb(207, 207, 200);
    padding: 20px;
    border-radius: 20px;
}

.productores__tarjeta img {
    max-width: 300px;
    padding: 10px;
}

.tarjetaInfo {
    height: 800px;
    color: rgb(207, 207, 200);
    margin: 0px 50px 0px 50px;
    padding: 20px 50px 20px 50px;
    border: 5px solid rgb(207, 207, 200);
    border-radius: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.tarjetaInfo h2 {
    text-align: center;
    font-size: 25px;
    padding-bottom: 35px;
}

.tarjetaInfo ul li {
    list-style: square;
    padding: 20px;
    text-align: center;
    list-style-position: inside;
}

.tarjetaInfo h3 {
    text-align: center;
    font-size: 25px;
    padding-bottom: 35px;
}

.tarjetaInfo__numeros {
    border: 1px solid rgb(207, 207, 200);
    border-radius: 5px;
    background-color: rgb(230, 116, 90);
    margin: 10px;
    max-width: 150px;
    height: 180px;
}

.tarjetaInfo__logo {
    width: 100%;
    height: auto;
    padding: 20%;
}

.tarjetasInfo__todas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

}

.formulario {
    color: rgb(207, 207, 200);
    background-color: rgb(230, 116, 90);
    border: 5px solid rgb(207, 207, 200);
    padding: 30px;
    margin: 0px 40px 0px 40px;

}

.formulario__form {
    border: 5px solid rgb(0, 0, 0);
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    color: rgb(0, 0, 0);
    font-size: 18px;


}

.formulario__form input {
    width: 450px;
    height: 30px;
}


.formulario__form ul li {
    margin: 20px;
    width: 100%;
}


.formulario h1 {
    margin-bottom: 50px;
    text-align: center;

}