* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  list-style: none;
  text-decoration: none;
}

.body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.01fr auto 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header header header" "navbar navbar navbar" "main main main" "footer footer footer";
}

.header {
  grid-area: header;
}

.navbar {
  grid-area: navbar;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: ".";
  grid-area: main;
}

header img {
  width: 18px;
  margin: 3px;
  align-self: center;
}

.header {
  color: rgb(207, 207, 200);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 35px;
}
.header h3 {
  font-size: 15px;
  text-align: center;
  margin: 0;
  text-decoration: none;
  color: rgb(207, 207, 200);
}

.titulo-seguros {
  font-weight: 750;
  padding-top: 30px !important;
  background-image: linear-gradient(to top, rgb(69, 90, 90), rgb(207, 207, 200));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  font-size: 40px;
}

.card3d {
  width: 320px;
  height: 255px;
  margin: 1em;
  perspective: 1500px;
}
.card3d .content {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
}
.card3d .content img {
  width: 100px;
}

.more {
  display: none;
}
.more:checked ~ .content {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: 6px;
  border: 2px solid rgb(207, 207, 200);
}
.front .inner,
.back .inner {
  height: 100%;
  display: grid;
  padding: 1.5em;
  transform: translateZ(80px) scale(0.94);
}

.front {
  background-color: #fff;
  background-size: cover;
  background-position: center center;
}
.front:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 6px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background: linear-gradient(to top, rgba(182, 182, 182, 0.8) 20%, rgba(96, 103, 103, 0.4) 60%);
}
.front .inner {
  grid-template-rows: 1fr 1fr 2fr 1fr;
  grid-template-columns: 1fr fit-content(100%);
  justify-items: center;
}
.front h2 {
  grid-row: 2;
  margin-bottom: 0.3em;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #fff;
  font-weight: 600;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.back {
  transform: rotateY(180deg);
  background-color: #fff;
}
.back .inner {
  grid-template-rows: 2fr 6fr 0.5fr 1.5fr;
  grid-template-columns: 1fr;
  justify-items: center;
}
.back .titulo {
  grid-row: 1;
  text-align: center;
  font-size: 1em !important;
  font-weight: 600;
}
.back .info {
  position: relative;
  display: flex;
  align-items: center;
  color: rgb(69, 90, 90);
  grid-row: 2;
  text-align: justify;
  line-height: 20px;
}
.back .info:not(:first-of-type):before {
  content: "";
  position: absolute;
  left: -0.9em;
  height: 18px;
  width: 1px;
  background-color: #ccc;
}
.back .button {
  justify-self: center;
  display: block;
}
.back .tarjeta_back {
  font-size: 0.73em !important;
  border-radius: 5px;
  font-weight: 500 !important;
  line-height: 1.4em !important;
  overflow: auto;
  color: rgb(69, 90, 90);
  padding-right: 10px;
}

.buttons {
  display: flex;
  grid-row: 4;
}

.button {
  grid-row: 4;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  padding: 0 1.5em;
  height: 3em;
  line-height: 2.9em;
  min-width: 3em;
  background-color: transparent;
  border: solid 2px #fff;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  left: 50%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: 0.3s ease-in-out;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
.button:hover {
  background-color: #fff;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  text-shadow: none;
  color: rgb(69, 90, 90);
}
.button.return {
  line-height: 3em;
  color: rgb(69, 90, 90);
  border-color: rgb(69, 90, 90);
  text-shadow: none;
}
.button.return:hover {
  background-color: rgb(69, 90, 90);
  color: #fff;
  box-shadow: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #729393;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(69, 90, 90);
}

.navbar {
  background-color: #f8f9fa;
  color: rgb(96, 103, 103);
}
.navbar img {
  width: 30px;
  margin: 0px 5px;
}

.navbar a {
  color: rgb(96, 103, 103);
}

.nav-item a {
  color: rgb(96, 103, 103);
}

.active-link {
  text-shadow: 4px 4px 9px rgba(0, 0, 0, 0.52);
}

.wobble-hor-bottom:hover {
  -webkit-animation: wobble-hor-bottom 0.9s both;
  animation: wobble-hor-bottom 0.9s both;
}

@-webkit-keyframes wobble-hor-bottom {
  0%, 100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-15px) rotate(-6deg);
  }
  30% {
    transform: translateX(10px) rotate(6deg);
  }
  45% {
    transform: translateX(-7px) rotate(-3.6deg);
  }
  60% {
    transform: translateX(4px) rotate(2.4deg);
  }
  75% {
    transform: translateX(-2px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%, 100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-15px) rotate(-6deg);
  }
  30% {
    transform: translateX(10px) rotate(6deg);
  }
  45% {
    transform: translateX(-7px) rotate(-3.6deg);
  }
  60% {
    transform: translateX(4px) rotate(2.4deg);
  }
  75% {
    transform: translateX(-2px) rotate(-1.2deg);
  }
}
.vibrate-1:hover {
  -webkit-animation: vibrate-1 0.9s linear infinite both;
  animation: vibrate-1 0.9s linear infinite both;
}

@-webkit-keyframes vibrate-1 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}
.heartbeat:hover {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
main {
  color: rgb(96, 103, 103);
}

.main_index div > img {
  max-width: 1100px;
  margin: auto;
}

.carousel-caption {
  color: white;
  font-size: 20px;
  background-clip: content-box;
  -webkit-background-clip: content-box;
}

.carousel {
  max-width: 1100px;
  margin: auto;
}

.carousel-control-prev, .carousel-control-next {
  align-items: end;
  max-height: 70%;
}

@media (max-width: 750px) {
  .carousel-control-prev, .carousel-control-next {
    align-items: end;
    max-height: 80%;
  }
  .carousel-caption h5,
.carousel-caption p {
    font-size: 12px;
    color: white;
  }
}
/** ANIMACIONES MAIN**/
.focus-in-expand {
  -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
.puff:hover {
  -webkit-animation: puff 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: puff 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

@-webkit-keyframes puff {
  0% {
    transform: scale(2);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff {
  0% {
    transform: scale(2);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
  }
}
footer div div h3 {
  font-size: 20px;
  color: rgb(96, 103, 103);
  margin: 10px;
}
footer div h4 {
  font-size: 15px;
}

.footer__whatsappicon {
  width: 20px;
  margin: 5px 5px;
}

.footer__whatsapqr {
  width: 150px;
}

.footer__locationico {
  width: 20px;
}

.c-bg-pills {
  background-color: rgb(230, 116, 90) !important;
  border-radius: 8px;
  color: rgb(96, 103, 103) !important;
}

.c-pills {
  color: rgb(96, 103, 103) !important;
}

.tarjetaInfo {
  color: rgb(96, 103, 103);
  margin: auto;
  padding: 20px 50px 20px 50px;
  border: 5px solid rgb(207, 207, 200);
  border-radius: 20px;
  text-align: center;
  margin-bottom: 30px;
}
.tarjetaInfo h2 {
  text-align: center;
  font-size: 25px;
  padding-bottom: 35px;
}
.tarjetaInfo ul li {
  list-style: square;
  padding: 20px;
  text-align: center;
  list-style-position: inside;
}
.tarjetaInfo h3 {
  text-align: center;
  font-size: 25px;
  padding-bottom: 35px;
}

.tarjetaInfo__numeros {
  background-color: rgb(230, 116, 90);
  border: 5px solid rgb(207, 207, 200);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  max-width: 150px;
  max-height: 165px;
}
.tarjetaInfo__numeros a {
  text-decoration: none;
  color: rgb(96, 103, 103);
}

.tarjetaInfo__logo {
  width: 100%;
  height: auto;
  padding: 20%;
}

.tarjetasInfo__todas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.productores__tarjeta {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  grid-template-rows: 0.6fr 1.7fr 0.7fr;
  gap: 0px 0px;
  grid-template-areas: "productores__foto productores__name productores__name" "productores__foto productores__info productores__info" "productores__foto productores__button productores__button";
  grid-area: productores__tarjeta;
}

.productores__foto {
  grid-area: productores__foto;
}

.productores__name, .productores__button {
  grid-area: productores__name;
}

.productores__info {
  grid-area: productores__info;
}

.productores__button {
  grid-area: productores__button;
}

.productores {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.main_productores h1,
.main_productores p {
  padding: 15px;
  text-align: center;
  align-self: center;
}

.main_productores p:nth-child(2) {
  padding: 0px 40px;
}

.productores__tarjeta {
  border: 5px solid rgb(96, 103, 103);
  margin: 40px;
  color: rgb(96, 103, 103);
  padding: 20px;
  border-radius: 20px;
  max-width: 1250px;
}

.productores__tarjeta img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.productores__name, .productores__button {
  text-align: center;
  width: auto;
}

.productores__button button {
  border-radius: 5px;
  padding: 5px;
}

@media (max-width: 750px) {
  .productores__tarjeta {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.005fr 0.5fr 0.3fr 0.0001fr;
    gap: 0px 0px;
    grid-template-areas: "productores__name" "productores__foto" "productores__info" "productores__button";
    grid-area: productores__tarjeta;
  }
  .productores__foto {
    grid-area: productores__foto;
  }
  .productores__name, .productores__button {
    grid-area: productores__name;
  }
  .productores__info {
    grid-area: productores__info;
  }
  .productores__button {
    grid-area: productores__button;
  }
}
.formulario {
  color: rgb(0, 0, 0);
  background-color: rgb(230, 116, 90);
  border: 5px solid rgb(96, 103, 103);
  border-radius: 5px;
  padding: 30px;
  margin: 48px auto 45px auto;
}
.formulario h1 {
  margin-bottom: 50px;
  text-align: center;
}

.formulario__form {
  border: 7px solid rgb(0, 0, 0);
  border-radius: 5px;
  padding: 20px;
  width: 100%;
  color: rgb(0, 0, 0);
  font-size: 18px;
}

.required:after {
  content: " *";
  color: red;
}/*# sourceMappingURL=style.css.map */