footer div {
    div h3 {
        font-size: 20px;
        color: $color-primario;
        margin: 10px;
    }

    h4 {
        font-size: 15px;
    }
}

//TEST PILLS DEL NAV FOOTER//

.c-bg-pills {
    background-color: $color-contraste !important;
    border-radius: 8px;
    color: $color-primario !important;

}

.c-pills  {
    color: $color-primario !important;
}