footer div {
    div h3 {
        font-size: 20px;
        color: rgb(0, 0, 0);
        margin: 10px;
    }

    h4 {
        font-size: 15px;
    }
}


.test-pills a.test-pills.active,
.test-pills .show>.nav-link {
    color: red;
    background-color: $color-contraste;
}