.formulario {
    color: rgb(0, 0, 0);
    background-color: $color-contraste;
    border: 5px solid $color-primario;
    border-radius: 5px;
    padding: 30px;
    margin: 48px auto 45px auto;
    h1 {
        margin-bottom: 50px;
        text-align: center;
    
    }
}

.formulario__form {
    border: 7px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    color: rgb(0, 0, 0);
    font-size: 18px;
}


.required:after {
    content: " *";
    color: red;
}