main {
    color: $color-primario;
}

.main_index div>img {
    max-width: 1100px;
    margin: auto;
}

.carousel-caption {
    color: white;
    font-size: 20px;
    //background: linear-gradient(90deg, rgba(25, 23, 23, 1) 0%, rgba(54, 36, 32, 0.8239670868347339) 7%, rgba(230, 116, 90, 0.7875525210084033) 35%, rgba(207, 207, 200, 0.7287289915966386) 100%);
    background-clip: content-box;
    -webkit-background-clip: content-box;
}

.carousel {
    max-width: 1100px;
    margin: auto;
}

.carousel-control-prev {
    align-items: end;
    max-height: 70%;
}

.carousel-control-next {
    @extend .carousel-control-prev;
}

@media (max-width: 750px) {
    .carousel-control-prev {
        align-items: end;
        max-height: 80%;
    }

    .carousel-control-next {
        @extend .carousel-control-prev;
    }

    .carousel-caption h5,
    .carousel-caption p {
        font-size: 12px;
        color: white;
    }

}

/** ANIMACIONES MAIN**/
.focus-in-expand {
    -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes focus-in-expand {
    0% {
        letter-spacing: -0.5em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes focus-in-expand {
    0% {
        letter-spacing: -0.5em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.puff:hover {
    -webkit-animation: puff 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation: puff 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@-webkit-keyframes puff {
    0% {
        -webkit-transform: scale(2);
        transform: scale(2);
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes puff {
    0% {
        -webkit-transform: scale(2);
        transform: scale(2);
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}