main {
    color: $color-primario;
}

.main_index div>img {
    max-width: 1100px;
    margin: auto;
}

.carousel-caption {
    color: white;
    font-size: 20px;
    background-clip: content-box;
    -webkit-background-clip: content-box;
}

.carousel {
    max-width: 1100px;
    margin: auto;
}

.image-main{
    border: 5px solid $color-primario !important;
    border-radius: 5px;
    padding: 5px !important;
    
}

.carousel-control-prev {
    align-items: end;
    max-height: 70%;
}

.carousel-control-next {
    @extend .carousel-control-prev;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 3rem;
    height: 3rem;
}

@media (max-width: 750px) {
    .carousel-control-prev {
        align-items: end;
        max-height: 90%;
    }

    .carousel-control-next {
        @extend .carousel-control-prev;
    }

    .carousel-caption h5,
    .carousel-caption p {
        font-size: 12px;
        color: white;
    }

}

/** ANIMACIONES MAIN**/
.focus-in-expand {
    -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes focus-in-expand {
    0% {
        letter-spacing: -0.5em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes focus-in-expand {
    0% {
        letter-spacing: -0.5em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.puff:hover {
    -webkit-animation: puff 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation: puff 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@-webkit-keyframes puff {
    0% {
        -webkit-transform: scale(2);
        transform: scale(2);
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes puff {
    0% {
        -webkit-transform: scale(2);
        transform: scale(2);
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

//loader animation