.navbar {
        background-color: #f8f9fa;
        color: $color-primario;

        img {
                width: 30px;
                margin: 0px 5px;
        }
}

//EDITABLE NAVBAR BOOTSTRAP//

.navbar a {
        color: $color-primario;
}

.nav-item a {
        color: $color-primario;
}

.active-link {
        text-shadow: 4px 4px 9px rgba(0, 0, 0, 0.52);

}

//ANIMACION DE BOTONES//

.wobble-hor-bottom:hover {
        -webkit-animation: wobble-hor-bottom 0.9s both;
        animation: wobble-hor-bottom 0.9s both;
}

@-webkit-keyframes wobble-hor-bottom {

        0%,
        100% {
                -webkit-transform: translateX(0%);
                transform: translateX(0%);
                -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
        }

        15% {
                -webkit-transform: translateX(-15px) rotate(-6deg);
                transform: translateX(-15px) rotate(-6deg);
        }

        30% {
                -webkit-transform: translateX(10px) rotate(6deg);
                transform: translateX(10px) rotate(6deg);
        }

        45% {
                -webkit-transform: translateX(-7px) rotate(-3.6deg);
                transform: translateX(-7px) rotate(-3.6deg);
        }

        60% {
                -webkit-transform: translateX(4px) rotate(2.4deg);
                transform: translateX(4px) rotate(2.4deg);
        }

        75% {
                -webkit-transform: translateX(-2px) rotate(-1.2deg);
                transform: translateX(-2px) rotate(-1.2deg);
        }
}

@keyframes wobble-hor-bottom {

        0%,
        100% {
                -webkit-transform: translateX(0%);
                transform: translateX(0%);
                -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
        }

        15% {
                -webkit-transform: translateX(-15px) rotate(-6deg);
                transform: translateX(-15px) rotate(-6deg);
        }

        30% {
                -webkit-transform: translateX(10px) rotate(6deg);
                transform: translateX(10px) rotate(6deg);
        }

        45% {
                -webkit-transform: translateX(-7px) rotate(-3.6deg);
                transform: translateX(-7px) rotate(-3.6deg);
        }

        60% {
                -webkit-transform: translateX(4px) rotate(2.4deg);
                transform: translateX(4px) rotate(2.4deg);
        }

        75% {
                -webkit-transform: translateX(-2px) rotate(-1.2deg);
                transform: translateX(-2px) rotate(-1.2deg);
        }
}

.llamador {
        animation: whataspp 3s linear infinite;
}


@keyframes whataspp {

        0%,
        7% {
                transform: rotateZ(0);
        }

        15% {
                transform: rotateZ(-15deg);
        }

        20% {
                transform: rotateZ(10deg);
        }

        25% {
                transform: rotateZ(-10deg);
        }

        30% {
                transform: rotateZ(6deg);
        }

        35% {
                transform: rotateZ(-4deg);
        }

        40%,
        100% {
                transform: rotateZ(0);
        }
}


//ANIMACION DE LINKS//

.vibrate-1:hover {
        -webkit-animation: vibrate-1 0.9s linear infinite both;
        animation: vibrate-1 0.9s linear infinite both;

}

@-webkit-keyframes vibrate-1 {
        0% {
                -webkit-transform: translate(0);
                transform: translate(0);
        }

        20% {
                -webkit-transform: translate(-2px, 2px);
                transform: translate(-2px, 2px);
        }

        40% {
                -webkit-transform: translate(-2px, -2px);
                transform: translate(-2px, -2px);
        }

        60% {
                -webkit-transform: translate(2px, 2px);
                transform: translate(2px, 2px);
        }

        80% {
                -webkit-transform: translate(2px, -2px);
                transform: translate(2px, -2px);
        }

        100% {
                -webkit-transform: translate(0);
                transform: translate(0);
        }
}

@keyframes vibrate-1 {
        0% {
                -webkit-transform: translate(0);
                transform: translate(0);
        }

        20% {
                -webkit-transform: translate(-2px, 2px);
                transform: translate(-2px, 2px);
        }

        40% {
                -webkit-transform: translate(-2px, -2px);
                transform: translate(-2px, -2px);
        }

        60% {
                -webkit-transform: translate(2px, 2px);
                transform: translate(2px, 2px);
        }

        80% {
                -webkit-transform: translate(2px, -2px);
                transform: translate(2px, -2px);
        }

        100% {
                -webkit-transform: translate(0);
                transform: translate(0);
        }
}

.heartbeat:hover {
        -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
        animation: heartbeat 1.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
        from {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transform-origin: center center;
                transform-origin: center center;
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }

        10% {
                -webkit-transform: scale(0.91);
                transform: scale(0.91);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        17% {
                -webkit-transform: scale(0.98);
                transform: scale(0.98);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }

        33% {
                -webkit-transform: scale(0.87);
                transform: scale(0.87);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        45% {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }
}

@keyframes heartbeat {
        from {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transform-origin: center center;
                transform-origin: center center;
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }

        10% {
                -webkit-transform: scale(0.91);
                transform: scale(0.91);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        17% {
                -webkit-transform: scale(0.98);
                transform: scale(0.98);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }

        33% {
                -webkit-transform: scale(0.87);
                transform: scale(0.87);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        45% {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }
}