
.tarjetaInfo {
    color: rgb(207, 207, 200);
    margin: 0px 50px 0px 50px;
    padding: 20px 50px 20px 50px;
    border: 5px solid rgb(207, 207, 200);
    border-radius: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.tarjetaInfo h2 {
    text-align: center;
    font-size: 25px;
    padding-bottom: 35px;
}

.tarjetaInfo ul li {
    list-style: square;
    padding: 20px;
    text-align: center;
    list-style-position: inside;
}

.tarjetaInfo h3 {
    text-align: center;
    font-size: 25px;
    padding-bottom: 35px;
}

.tarjetaInfo__numeros {
    border: 1px solid rgb(207, 207, 200);
    border-radius: 5px;
    background-color: rgb(230, 116, 90);
    margin: 10px;
    max-width: 150px;
    height: 180px;
}

.tarjetaInfo__logo {
    width: 100%;
    height: auto;
    padding: 20%;
}

.tarjetasInfo__todas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

}