$color-primario: #606767;
$color-secundario: #cfcfc8;
$color-contraste: #e6745a;
$color-tarjetas: #455a5a;

@mixin formato-tarjetas {
    background: linear-gradient(to top, rgba(182, 182, 182, 0.8) 20%, rgba(96, 103, 103, 0.4) 60%);
    border: 5px solid $color-secundario;
    border-radius: 6px;
    padding: 10px;
    margin: 10px;
    max-width: 150px;
    max-height: 200px;
    perspective: 1500px;
}

